<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>361635015743-v86bn8ie5am7i0csuqh80tqd5b1lf0vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361635015743-v86bn8ie5am7i0csuqh80tqd5b1lf0vs</string>
	<key>API_KEY</key>
	<string>AIzaSyBPt_xL0cfmjajEoRfbGb6-AGoT1baJOEU</string>
	<key>GCM_SENDER_ID</key>
	<string>361635015743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lijiangsync.webvideo</string>
	<key>PROJECT_ID</key>
	<string>m3u8-inspector</string>
	<key>STORAGE_BUCKET</key>
	<string>m3u8-inspector.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361635015743:ios:4377a21f8c9a95b4</string>
	<key>DATABASE_URL</key>
	<string>https://m3u8-inspector.firebaseio.com</string>
</dict>
</plist>